#lang racket
(require db)
(provide (all-defined-out))

; SQL connection
(define world
  (mysql-connect #:server "localhost"
                 #:database "world"
                 #:user "user"
                 #:password "pass"))

(define character
  (mysql-connect #:server "localhost"
                 #:database "chars"
                 #:user "user"
                 #:password "pass"))

